
<%- if user_signed_in? -%>

  <div class="panel radius">
    <p>To get started, click the <%= link_to 'My List', user_path(current_user) %> link above. Enter the title of the book you wish to log, and then select the correct details from the search results. And happy reading!</p>
  </div>

<%- else -%>

  <div class="panel callout radius">
    <p>On January 11th of 2014, <span class="hard">Read 50 Books</span> was created during &quot;Ship It Saturday&quot;, a one-day hack-a-thon organized by <%= link_to 'Launch Academy', 'http://www.launchacademy.com' %>. Coding started after breakfast and the site was deployed by dinnertime. Although some refactoring has taken place, the bulk of the work was completed in an 8-hour period.</p>
    <p>This site is currently in <%= link_to 'open beta', 'http://en.wikipedia.org/wiki/Software_release_life_cycle' %>, which means that it isn't finished yet. Everything works so far as I know, but you may encounter errors. I appreciate your patience and understanding as I get things ready for the full release.</p>
  </div>

<%- end -%>
