
<%- if user_signed_in? -%>

  <div class="panel radius">
    <p>To get started, click the <%= link_to 'My List', user_path(current_user) %> link above. Enter the title of the book you wish to log, and then select the correct details from the search results. And happy reading!</p>
  </div>

<%- else -%>

  <div class="panel callout radius">
    <p>Originally coded on January 11th of 2014, <span class="hard">Read 50 Books</span> was a &quot;Ship It Saturday&quot; project for <a href="http://www.launchacademy.com">Launch Academy</a>. Take the 50 book challenge: track the books you've read, & share your progress with friends.</p>
    <p>This app is currently in <a href="https://en.wikipedia.org/wiki/Software_release_life_cycle">pre-alpha</a>, which means that it's not done baking yet. The core functions are not all in place, and you may encounter errors. Please do not save anything business-crucial here, as the database may be wiped periodically prior to alpha release.</p>
  </div>

<%- end -%>
