<h1><%= @book.title %></h1>
<h3>by <%= @book.author %></h3>
<h5>Completed On: <%= @book.date_completed.to_date %></h5>
<p><%= button_to 'Back To Your List', user_path(current_user), method: :get, class: "button" %></p>
